* {margin:0; padding:0;}
body{
    width:100%;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration:none;
    color:#fff;
}

img { border: 0; }

.head{
    width:1000px;
    margin: 0 auto;
}

.header{
	height:100%;
    min-width: 1000px;
    overflow-x: hidden;
    background:
        url("img/bg-ben.png") no-repeat,
        #000409;
    background-position:center;
    
} 
.content-header{
    min-width: 1000px;
    overflow-x: hidden;
    background: #e5e5e5;
    height:90px;
}
    .content-header-titel{
    padding:20px 0 0 0;
    width:1000px;
    margin: 0 auto;  
    font-family: 'Open Sans', sans-serif;
    font-size:38px;
    color:#495664;
}
        .content-header-titel a{
        float:right;
        font-size:18px;
        color:#8e9fb1;
        margin:15px 0 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
            .content-header-titel a:hover{
                color:#495664;                    
            }

.content{
	height:1000px;
    width:1000px;
    margin: 0 auto;
}
.logo{
	margin:40px 0 0 0;
    width:233px;
    height:70px; 
    float:left;
}
	

#drop-down-menu{
    margin-left:20px; 
    font-family: 'Open Sans', sans-serif; 
    font-size:16px; 
    float:right;
    margin-top:50px;
    font-style:italic;}
	ul{
		font-weight:200;color:#ffffff;
		margin:0;
		padding:0;
		list-style:none}
	ul li{
		display:block;
		position:relative;
		float:left}
	li ul{display:none}
	ul li a{
		display:block;
		margin-left:1px;
		text-decoration:none;
		color:#ffffff;
		padding: 5px 15px 5px 15px;
		white-space:nowrap;}
        ul li:nth-child(1){width:100px;}
        ul li:nth-child(2){width:60px;}
        ul li:nth-child(3){width:70px;}
        ul li:nth-child(4){width:80px;}
        ul li:nth-child(5){width:80px;}
	ul li:hover a{color:inherit; font-weight:600;}
	li:hover ul{ 
		display:block; 
		position:absolute}
	li:hover li{ 
		font-size:100%;
		clear:left; 
		width:12em}
	li:hover a{color:inherit}
	li:hover li a:hover{font-weight:600;}
    li:hover li a{font-weight:200;}
	.clear_all{clear:both;height:0.5em;}

.home-slide {
    clear:both;
    padding:70px 100px 100px 50px;
    width:400px;
    color:#fff; 
    margin: 0 0 50px 0;
}
.home-slide p{
    font-size:16px;
    font-weight:100;
    padding-top:20px;
    color:#b3b3b3;
}
a.lees-verder{
    height:33px;    
    line-height:33px;
    display:block;
    margin: 30px 0 0 0;
    font-size:16px;
    color:#8e9fb1;
    font-weight:600;
    float:left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.lees-verder:hover{
    color:#c9dcf0;
}
a.lees-verder .pijl {
    float:left;
    width:33px;
    height:33px;
    margin: 0 10px 0 0;
    background-position: 0 33px;
    background: url("img/sprite.png");
}
    a.lees-verder:hover .pijl {
    background-position: 0 33px;
}
h2{
    font-size:38px;
    font-weight:600;
}
.twitter-feed {
    position:relative;
    height:70px;
    width:1000px;
    background:#121a22;
}

@media screen and (min-width: 1001px) {
    body {
        //overflow-x: hidden;
    }
}

.image-bar {
    width:1400px; 
    margin-left: -200px;
}
.image-bar-alles{
    font-style:italic;
    font-size:28px;
    font-weight:600;
    text-align:center;
    float:left;
    padding-top:30px;
    width: 200px;
    height: 170px;
    background:#121a22;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .pijl-alle{
    margin:20px auto;
    width:33px;
    height:33px;
    background: url("img/sprite.png");    
}

.image-bar-alles:hover{
    background:#1d2935;   
}

.image-bar img {
    opacity: 0,5;
    float:left;
    display: block;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .image-bar img:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
    }


/*************** DETAIL PAGINA ****************************************************************************************/

.woonkamer-img{
    margin:100px 0 0 100px;	
}
.header-detail{
    height:558px;
    min-width: 1000px;
    overflow-x: hidden;
    background:
            url("img/woonkamer.jpg") no-repeat,
        #000409;
    background-position:center;
    
}    
	.head .frame{
    	margin:59px 0 0 364px;
	}

/*************** SCHILDERIJEN PAGINA ****************************************************************************************/

.header-schilderijen{
    height:1000px;
    min-width: 1000px;
    overflow-x: hidden;
    background:
            url("img/schilderijen-bg.jpg") no-repeat,
        #fff;
    background-position:center top;
    
}   
.sort{
	margin-top:63px;
	width:100%;
	height:70px;
	background:#16202a;
} 
.schilderijen{
	width:100%;
	height:100%;
	background:#fff;
}


.schilderijen img {
    opacity: 0,5;
    float:left;
    display: block;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .schilderijen img:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
    }
.content-detail p{
	float:left;
	font-weight: 300;
	color:#666;
	margin:50px 0 0 0;
	width:360px;
}
.content-detail img{
	border:solid 9px #fff;
	margin:50px 0 0 0;
	width:550px;
	float:right;
	 -moz-box-shadow: 0px 0px 10px #b3b3b3; /* Firefox/Mozilla */  
  -webkit-box-shadow: 0px 0px 10px #b3b3b3; /*Safari/Chrome */  
  box-shadow: 0px 0px 10px #b3b3b3; /* Opera & hoe het zou moeten */  
  /* Voor IE 8 */  
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=100, Color='#b3b3b3')";  
  /* Voor IE 5.5 - 7 */  
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=100, Color='#b3b3b3');  
}
.content-detail table{
	float:left;
	color:#495664;
	font-size: 20px;
	margin:30px 0 0 0;
	width:350px;
}
.content-detail table tr td:nth-child(2){
	text-align:right;
}
.content-detail table tr td:nth-child(1){	
		font-weight: 700;
	}
.content-detail table tr td{
	padding:15px;
	border-top:solid 2px #ccc;
}